

*{
  font-family: Trebuchet;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

#overView{
  overflow: hidden;
}

button{
  padding: 8px 15px;
  font-size: medium;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #B7E0FF;
  cursor: pointer;
}

button:hover{
  background:linear-gradient(45deg,#B7E0FF,#FFCFB3,#C9E9D2);
  padding: 10px 15px;
  font-size: medium;
  box-shadow: 0 0 10px gray;
}


p{
  font-size: 18px;
  margin-top: 20px;
}



/* nav bar */
nav {
  width: 100vw;
  background:lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:14px ;
  position: fixed;
  z-index: 3;
  top: 0;

}

nav img{
      width: 14%;
      border-radius: 50%;
}

svg.svg-inline--fa.fa-bars {
  color:lightblue;
  font-size: 23px;
  display: none;
}
#click {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 10px 0px;
  margin-right: 10px;
}

nav i{
  color: lightblue;
  display: none;
}

nav ul li {
  margin: 0 30px;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
}

nav ul li a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
  padding: 2px 6px;

}

nav ul li a:hover {
  color:black;
  background-color: #fff;
  border-radius: 5px;
}


/* Media Query */
@media (max-width: 480px) {
  nav .logo {
      color: #fff;
      font-weight: bold;
      font-size: 2em;
  }

  svg.svg-inline--fa.fa-bars {
      display: block;
      cursor: pointer;
  }

  nav{
      position: fixed;
      padding: 22px;
  }

  nav ul {
      list-style: none;
      position: fixed;
      top: -100%;
      left: 0px;
      background-color: lightblue;
      height: 80vh;
      width: 100%;
      display: block;
      text-align: center;
      transition: 1s ease-in;
  }

  #click:checked ~ ul {
      top: 80px;
  }

  nav ul li {
      margin: 0 30px;
      font-size: 25px;
      margin: 40px 0;
  }

  nav i{
      color: black;
     z-index: 2;
  }

  nav ul li a {
      color: black;
      font-size: large;
      text-decoration: none;
      transition: 0.5s;
      padding: 0px 5px;
  }

  nav ul li a:hover,
  nav ul li a.active {
      border: 1px solid #fff;
      color: black;
      background-color: #fff;
      border-radius: 5px;
  }

}

@media (max-width:768px){

  nav ul li {
      font-size: 16px;
  }

}







  .container{ 
   padding: 100px 30px 30px 40px;
  } 
 
 
body { 
    font-family: Arial, sans-serif; 
} 
.container { 
    display: flex; 
    width: 100%; 
    margin: 0 auto; 
} 
.search-filters, .tour-list { 
    margin-top: 20px; 
} 
.search-filters { 
    background-color: whitesmoke; 
    padding: 15px; 
    border-radius: 8px; 
    width: 250px; 
} 
.search-filters select, .search-filters input { 
    width: 90%; 
    margin-bottom: 10px; 
    padding: 8px; 
    border: 1px solid gainsboro; 
    border-radius: 4px; 
} 
.tour-list { 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    margin-left: 20px; 
} 
.tour-item { 
    border: 1px solid white; 
    border-radius: 8px; 
    padding: 10px; 
    width: 30%; 
    margin-bottom: 20px; 
} 
.tour-item img { 
    max-width: 100%; 
    border-radius: 8px; 
     
} 
.tour-item h3 { 
    font-size: 1.2em; 
    margin-top: 10px; 
} 
.tour-item a { 
    color: blue; 
    text-decoration: none; 
} 
 
.search-filters input{ 
    background-color: lavender; 
} 
 
#container { 
   flex-direction: row; 
} 
 





/* This is our footer */



#footerDiv2{
  height: 200px;
  
}

footer {
  padding:  10px;
  font-size: 14px;
  background-color: lightblue;
  height: fit-content;
}

footer .i{
  font-size: 28px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}

.footer-content div {
  flex: 1;
  margin: 10px;
}

.address, .phone, .email {
  max-width: 200px;
  font-size: 16px;
  display: flex;
}

.footer-bottom {
  text-align: center;
  padding-top: 60px;
}


.footer-bottom p{
  font-size: 16px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons a {
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
}

.fa {
  margin-right: 8px;
}

#footerDiv2{
  padding: 0;
}


@media (max-width:480px) {

  footer .i{
   display: none;
  }

  .footer-content {
      position: relative;
      left: 10vw;
      width: 100%;
  }
  
  .address, .phone, .email{
      font-size: 12px;
  }

  footer{
      margin-bottom: 0;
      padding-bottom: 0;
  }

  .footer-bottom{
      padding-top: 5vh;
      margin: 0;
  }
  
  .footer-bottom p{
      font-size: 10px;

  }

  #footerDiv2{
      height: 150px;
  }
  
}


@media (max-width:768px){

  .footer-content{
      width: 80%;
  }

}